/* rubik-regular - latin_cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/rubik-v20-latin_cyrillic-regular.woff2') format('woff2'),
       url('../fonts/rubik-v20-latin_cyrillic-regular.woff2') format('woff'); 
}
/* rubik-500 - latin_cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/rubik-v20-latin_cyrillic-500.woff2') format('woff2'),
       url('../fonts/rubik-v20-latin_cyrillic-500.woff') format('woff'); 
}
/* rubik-700 - latin_cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/rubik-v20-latin_cyrillic-700.woff2') format('woff2'),
       url('../fonts/rubik-v20-latin_cyrillic-700.woff') format('woff');
}
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: 'Rubik', sans-serif;
}


.header-top{
  background-color: #F6F6F6;
  padding: 30px 0 30px 12px;
}
.container{
  width: 1200px;
  margin: 0 auto;
}
.header-place{
  display: flex;
  justify-content: space-between;
}

.header-start{
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.header-top-list{
  display: flex;
  align-items: center;
}
.header-top-list-box{
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #2959CE;
  margin-right: 25px;
}
.header-box-text{
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #555555;
}
.header-end{
  display: flex;
  align-items: center;
}
.language{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70px;
  margin-right: 25px;
  padding: 3px;
  line-height: 15px;
  background-color: #DCE6FF;
  border-radius: 39px;
  text-align: center;
}
.lang-text{
  font-size: 13px;
  line-height: 15px;
  font-style: normal;
  color: #A6A6A6;
  text-decoration: none;
}
.lang-activ{
  color: #000;
}

.lang-uz{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  padding-top: 7px;
}
.lang-ru{
  text-decoration: none;
  color: #A6A6A6;
}
.header-input{
  width: 276px;
  border-radius: 60px;
  margin-right: 25px;
  background-color: #fff;
}
.log-in{
  padding: 13px 20px;
  background-color: #7296EC;
  text-decoration: none;
  border-radius: 10px;
  color: #fff;
  margin: 0;
}
.input-text{
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #8D8D8D;
  padding-left: 41px;
}
.header-input{
  width: 275px;
  height: 45px;
  background-color: #fff;
  border-radius: 60px;
  background-image: url("../rec/rec/Icon-Outline-sea421430499");
  
}
.search-text{
  padding-left: 41px;
  font-size: 14px;
  line-height: 17px;
  color: #8D8D8D;
}

.header-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0 0 0;
}
.hr{
  margin-bottom: 40px;
}
.header-list-box{
  list-style: none;
}
.header-link-box-text{
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #7F7F7F;
}
.hero-place{
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.hero-list{
  display: flex;
  justify-content: center;
  padding: 0;
}
.main-botom-list-box{
  margin-bottom: 10px;
}

.hero-list-box{
  width: 394px;
  margin-left: 20px;
  background-color: #F6F6F6;
  list-style: none;
  border-radius: 15px;
  padding: 20px 17px 15px 17px;
  
}
.bg-img::before{
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  /* bottom: -px; */
  background-image: url("../images/KB.png");
}
.hero-list-box-log::before{
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}
.bg-img-center::before{
  background-image: url("../images/G.png");
  background-repeat: no-repeat;
}
.bg-img-end::before{
  background-image: url("../images/X+.png");
  background-repeat: no-repeat;
}
.bg-img-botom-start::before{
  background-image: url("../images/digger.png");
  background-repeat: no-repeat;
}
.bg-img-botom-center::before{
  background-image: url("../images/L.png");
  background-repeat: no-repeat;
}
.bg-img-botom-end::before{
  background-image: url("../images/CH.png");
  background-repeat: no-repeat;
}
.remember{
  /* content: ""; */
  background-image: url("../images/remmember.png");
  background-repeat: no-repeat;
}



.box-logo-text{
  margin: 0;
  margin-left: 27px;
  
}
.none{
  margin-left: 10px;
}

.hero-list-box-title{
  width: 346px;
  text-decoration: none;
  font-weight: 700px;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  font-family: "Rubik";
  margin: 0;
  margin-bottom: 10px;
}
.hero-list-box-link{
  text-decoration: none;
  
}
.list-box-title-text{
  font-family: 'Rubik';
  width: 346px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #4A4B4C;
  margin: 0;
  margin-bottom: 15px;
}
.hero-box-img{
  margin-bottom: 15px;
}
.hero-list-box-log{
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.box-logo{
  margin-right: 0px;
}

.remember{
  display: flex;
  justify-content: space-between;
  width: 1050px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 60px;
  /* background-color: #f1d2ba; */
  padding: 24px 71px 24px 29px;
  border-radius: 15px;
}
.remember-text{
  font-family: 'Rubik';
  width: 404px;
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}

.remember-link{
  width: 149px;
  height: 50px;
  background-color: #F78B3B;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  text-decoration: none;
}
.main-botom-list{
  display: flex;  
  justify-content: space-between;
  padding: 0;
  margin: 0 auto;
  flex-wrap: wrap;
}
.botom-start{
  width: 797px;
  margin-right: 10px;
}
.botom-box-in-box{
  margin-top: 10px;
}

.main-botom-list-box{
  width: 797px;
  height: 205px;
  display: flex;
  padding: 20px 20px 20px 17px;
  background-color: #F6F6F6;
  border-radius: 15px;
  /* margin-bottom: 10px; */
}
.botom-logo-text{
  width: 160px;
}
.botom-img{
  margin-right: 15px;
}
.botom-title-link{
  text-decoration: none;
}
.botom-box-title{
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  margin: 0;
}
.botom-box-text{
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #4A4B4C;
  margin: 0;
  margin-top: 10px;
}
.botom-box-in-box{
  display: flex;
  align-items: center;
}
.botom-logo-text{
  margin: 0;
  margin-left: 30px;
}
.botom-bg-img-second::before{
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../images-2/T.png");
  background-repeat: no-repeat;
}
.bg-img-tretiy{
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../images-2/PBG.png");
  background-repeat: no-repeat;
}
.botom-bg-end::before{
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../images-2/");
  background-repeat: no-repeat;
}
.botom-logo{
  margin-right: 10px;
}
.box-esho{
  list-style: none;
}

.esho{
  width: 796px;
  background: #EAEAEA;
  border-radius: 10px;
}
.esho-link{
  text-decoration: none;
  color: #000;
}

.esho-text{
  padding: 17px 343px  17px 343px;
  margin-bottom: 100px;
}
.botom-end-title{
  margin-top: 0;
  margin-bottom: 35px;
  /* font-family: 'Rubik'; */
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}
.botom-end{
  width: 393px;
  height: 502px;
  background: #F6F6F6;
  border-radius: 15px;
  padding: 20px 20px 25px 10px;
}
.botom-list-end-box{
  list-style: none;
}
.botom-list-end{
  padding-left: 0;
  padding-bottom: 20px;
  margin: 0;
}
.time-text{
  margin: 0;
  margin-top: 15px;
}
.botom-end-rek{
  margin: 0 auto;

}
.botom-end-box-rek{
  margin: 0 auto;
  margin-top: 25px;
}
.footer-logo-text{
  width: 229px;
}
.botom-end-box-title{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  margin-bottom: 8px;
}
footer{
  background-color: #7297EF;
}
.footer-place{
  padding: 40px;
}
.footer-logo-text{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #FFFFFF;
}
.footer-list{
  margin-top: 83px;
}
.footer-list-box{
list-style: none;
margin-bottom: 20px;
}
.footer-link-list{
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-decoration: none;
}
.footer-list-box-two{
  margin-top: 83px;

}
.footer-box-place{
  width: 998px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.place{
  display: flex;
  justify-content: space-between;
}

.footer-bootom{
  width: 998px;
  margin: 0 auto;
}
.footer-sybol{
  display: flex;
}
.footer-botom-text{
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}
.sybol-box{
  list-style: none;
  margin-left: 25px; 
}
.ha{
  margin: 0;
  
}